@page "{handler?}"
@model Playground.Pages.PlaygroundPageModel




<div class="container d-flex flex-row justify-content-around mt-5" id="playground-projects">
    <div class="d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
                <img src="~/images/customer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Customer Project</h5>
                <p class="card-text">hinzufügen | bearbeiten | löschen von Daten</p>
                <a asp-page="/Customer" class="btn btn-primary mt-4">Customer</a>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
                <img src="~/images/switch.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Switch Project</h5>
                <p class="card-text">hinzufügen | tauschen | validieren von Daten</p>
                <a asp-page="/Switch" class="btn btn-primary mt-4">Switch</a>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
                <img src="~/images/lab.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Loop Lab</h5>
                <p class="card-text">User management | sessions | azure</p>
                <a href="#" class="btn btn-primary disabled mt-5">Not ready yet :(</a>
            </div>
        </div>  
    </div>
 
</div>
